.blog
  .content
    = link_to "Chapter 01—On Your Mark", blog_index_path, class: "h1"

    p Oh hi there 👋
    p This is the start of something new. Over the past few weeks I have been selling everything that I have, quitting my job, and leaving Australasia for good, not even knowing where I will end up. How did I get to this point? I have no idea. So many tiny little things all lined up to this one conclusion:
    .quote
      | Go from your land, and from your relatives, and from your father’s house — to the land that I will show you.
      br
      | (Genesis 12:1)
    h2 Fambam
    p For the past few weeks, I have been visiting family and friends one last time before I go. The prospect of being on the other side of the world has helped me to love and appreciate the people around me (you only know you love 'em when you let 'em go!)
    .images
      .img
        = image_tag "01_shev.jpg", alt: "Shevaun in Melbourne"
        .caption My sister Shevaun
      .img
        = image_tag "01_kieran.jpg", alt: "Kieran in Brisbane"
        .caption My brother Kieran
      .img
        = image_tag "01_hayley.jpg", alt: "Hayley in Hamilton (I do love her, despite my expression here)"
        .caption My sister Hayley
      .img
        = image_tag "01_kayley_back.jpg", alt: "I love this girl so much"
        .caption My darling niece Kayley
    p I'm sure I also got a photo with my parents, but I seem to have misplaced it 😐
    h2 Some philosophy
    p I have recently come to a conclusion that contentment and satisfaction with life come down to two things: Connection and Contribution.
    ul
      li Connection can be the bond you experience with friends, family, or even with the Lord on a spiritual level.
      li Contribution is when you live for something greater than yourself, when you start sacrificing for others.
    p My adventures will have a fairly strong focus on this—I'm looking forward to making new connections, and contributing to the people around me. I will let you know when I have achieved maximum happiness 👌
    h2 A song I have been enjoying
    p "You will seek Me, you will find Me, if you search for Me with all your heart."—#{link_to "click here to listen", "https://www.instagram.com/p/BrhGpSZhrMO/", target: "_blank"}
    hr
    p So that's me! I spent a lot of time trying to figure out what platform is best for blogging. Nothing seemed to fit what I wanted... until I realised that I make websites for a living 😅. Let me know if you like it, or would like to see some aspects changed!
    p
      | Much grace,
      br
      | Regan
    .img-hero
      = image_tag "01_adventuring.jpg", alt: "Me adventuring"
      .caption Me adventuring