.blog
  = link_to "Chapter 04—Chicag-diana", blog_index_path, class: "h1"

  p Oh hi there 👋
  p The next chapter is Chicago. First impression? ❄️❄️❄️ <strong>c o l d</strong>. The weather stayed around -5ºC to -12ºC. But my dear brothers and sisters in Christ? 🔥🔥🔥 <strong> f i r e</strong>. Highlights include a super fancy burger, seeing snowy streets, and for the first time truly going to a city where I don't know a single person.
  .images
    = blog_image_tag "04_1burger.jpg", title: "Best burger in town? Or best burger around?"
    = blog_image_tag "04_2ugo.jpg", title: "Me making new friends"
  p "Oh, so how long will you be in Chicago Regan?" Well, funny you should ask that—as soon as I arrived some people told me about a Mid-West college conference in Indiana that starts the very next day. So in the morning I packed everything up again and set sail for the cutest, snowiest little camp I ever did see.
  .images
    = blog_image_tag "04_3camp_glow.jpg", title: "This"
    = blog_image_tag "04_4camp_snow.jpg", title: "place"
    = blog_image_tag "04_5camp_sun.jpg", title: "was"
    = blog_image_tag "04_6camp_people.jpg", title: "pretty cool"

  p Oh! You'll never guess what happened. So sometimes people would ask me "what do you want to see in USA Regan?" and honestly what I <strong>really</strong> wanted to see was a bear and a moose. I knew this was pretty much impossible so my expectations were low. But guess what I saw at the camp??
  .images
    = blog_image_tag "04_7bear.jpg", title: "Bear"
    = blog_image_tag "04_8moose.jpg", title: "Moose"

  p My highlight at this camp was singing with the brothers at cabin time. I happened to be in a cabin with ~5 or more brothers who record songs and put them on soundcloud—in other words, we had: guitar, uke, tambourine, shaker, burning spirits and ad-lib harmonies. This was a real experience of "singing with grace in your hearts to God". On top of that, during one afternoon we gathered together with others and made some recordings. #{link_to "You can listen to us here", "https://soundcloud.com/mirror318/so-we-who-are-many-medley", target: "_blank"}.

  .images
    = blog_image_tag "04_9singers.jpg", title: "Singing in the day time"
    = blog_image_tag "04_10cabin.jpg", title: "Singing in the night time"

  p From the conference's messages—I really enjoyed revisiting my favourite verse:
  .quote
    | Because the God who said "Out of darkness, light shall shine", is the One who shined in our hearts to illuminate the knowledge of the glory of God in the face of Jesus Christ.
    .author 2 Cor. 4:6
  p In Genesis 1 there was a dark ball of water. In this chapter God does a great work of bringing forth life, but what was the very first step? He spoke "let there be light". WELL did you know that your heart is a little dark planet of your own? And one day, the same God who filled the entire universe with light came to your darkened heart and said "let there be light". From this light comes life, hence it is referred to as the "light of life".
  p
    | Much grace,
    br
    | Regan

  = blog_image_tag "04_11Jesus.jpg", title: "Bible &nbsp; b e l t", size: 'hero'
