.blog {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;

  p, body, div, li, h1, .h1, h2, h3, h4, h5, h6 {
    color: #101010;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    line-height: 1.7;
  }

  .img-hero, .img {
    margin-bottom: 2rem;
    line-height: 0;
  }
  .img-hero {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .img {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 250px;
  }
  .caption {
    font-style: italic;
    text-align: center;
  }
  .images {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .content {
    max-width: 680px;
    padding-left: 15px;
    padding-right: 15px;
    // @include desktop {
    //   max-width: 58%;
    // }

    h1, .h1 {
      margin-top: 0px;
      margin-bottom: 30px;
      display: block;
      font-size: 2em;
      font-weight: bold;
      text-decoration: none;
    }
    h2 {
      margin-top: 2.5rem;
      margin-bottom: 0.5rem;
    }
    p, li {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      margin-block-start: 0;
    }
    p + .quote {
      margin-top: 2rem;
    }
    .quote {
      font-size: 1.6rem;
      font-weight: 300;
      font-style: italic;
      color: #777;
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

    hr {
      margin-block-start: 3rem;
      margin-block-end: 3rem;
      color: #777;
    }

    .toc {
      color: #777;
      font-size: 1.1rem;
      width: 100%;
    }
  }
}


