
.page-a4 {
  width: 800px;
  margin: auto;
}

.card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 180px;
  font-weight: bold;
  font: 20px sans-serif;
  text-align: center;
}

.title_word {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.taboo_word {
  padding-bottom: 5px;
}

.taboo_game-card {
  width: 100vw;
  height: 100vh;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  font-size: 32px;

  &_word-container {

  }

  &_main-word {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  &_forbidden-word {
    margin-bottom: 2px;
  }
}

.print-tag {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1000000;
  font-size: 9pt;
}